.product_item {
  display: flex;
  align-items: center;
  gap: 25px;
  border: 1px solid #d7dfe2;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;

  &__progress {
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #86be47;
  }

  &__serial {
    font-size: 10px;
    color: #8e9ba2;
  }

  &__guarantee {
    display: flex;
    align-items: center;
  }

  &__guarantee_text {
    width: 30px;
    font-size: 12px;
    color: #8e9ba2;
  }

  &__price {
    font-size: 12px;
    color: #8e9ba2;
  }

  &__group_name {
    max-width: 200px;
    word-wrap: break-word;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
